@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    
</div>
<div class="text-center">
    <a class="btn btn-primary" href="/Workers">
        @*<button Працівники</button>*@
        Працівники
    </a>
    <a class="btn btn-primary" href="/Patients">
        Пацієнт
    </a>
    <a class="btn btn-primary" href="/Appointments">
        Прийоми
    </a>
    <a class="btn btn-primary" href="/Offices">
        Офіси
    </a>
    <a class="btn btn-primary" href="/Services">
        Послуги
    </a>
    <a class="btn btn-primary" href="/WorkerSchedules">
        Розклад працівників
    </a>
</div>

