@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
<a href="/Workers">
    <button>Працівники</button>
</a>
<a href="/Patients">
    <button>Пацієнти</button>
</a>
<a href="/Appointments">
    <button>Прийоми</button>
</a>
<a href="/Cities">
    <button>Міста</button>
</a>

<a href="/Offices">
    <button>Офіси</button>
</a>
<a href="/Services">
    <button>Послуги</button>
</a>


<a href="/AppointmentServices">
    <button>AppointmentService</button>
</a>
<a href="/WorkerSchedules">
    <button>Розклад працівників</button>
</a>
